.CardTitle {
  font-size: 36px;
  font-weight: 800;
  text-align: center;
  width: 100%;
}

.CardTitle:before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 30px;
  height: 3px;
  left: calc(50% - 30px);
  background: rgb(109, 179, 64);
}

@media (max-width: 767px) {
  .CardTitle {
    font-size: 24px;
  }
}
